html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

$orange: #FF8469;
$dark: #4F5565;